body {
    min-width: 100vw;
    min-height: 100vh;
    font-family: Poppins, sans-serif;
    background-color: rgb(250, 237, 205);
    margin: 0px;
    padding: 0px;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100%;
    min-height: 100%;
}

.header {
    display: flex;
    font-size: 48px;
    font-weight: 500;
    justify-content: center;
}

.operator {
    background-color: rgb(235, 218, 87)
}

.calculator {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    background-image: linear-gradient(135deg, rgb(254, 251, 243), rgb(255, 248, 226));
    border: 2px solid slategray;
    padding: 10px;
    width: 500px;
    height: 500px;
    justify-content: space-around;
    align-items: center;
}


.display {
    flex-shrink: 1;
    background-color: black;
    color: white;    
    font-weight: 500;
    font-size: 3ch;
    height: 6ch;
    margin: 10px;
    width: 95%;
    font-family: 'Segment7Standard', monospace;
    text-align: right;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}


.buttons {
    display: flex;
    width: 95%;
    max-height: 95%;
    flex-direction: column;
    flex: 1 1 auto;
    justify-content: center;
}

.row {
    display: flex;
    flex: 1 1 0;
    width: 100%;
}

button.large {
    flex: 2 1 auto;
}

button {
    appearance: none;
    border: none;
    padding: none;
    background-color: rgb(249, 248, 242);
    font-weight: 900;
    font-size: 3ch;
    /* border: 1px solid rgb(7, 13, 58); */
    box-shadow: 0px 0px 2px rgb(104, 104, 84);
    transition: 0.1s;
    /* border-radius: 2px; */
    min-width: 24.1%;
    flex: 1 1 0;
}

button:active, .keyEntry {
    box-shadow: none;
    scale: 0.98;
    background-color:  rgb(249, 235, 152);
}
