body {
    min-width: 100vw;
    min-height: 100vh;
    font-family: Poppins, sans-serif;
}

.page {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    display:flex;
    font-size: 48px;
    font-weight: 500;
    justify-content: center;

}

.calculator {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(135deg, rgb(215, 215, 215), rgb(157, 166, 188));
    border: 2px solid slategray;
    border-radius: 8px;
    padding: 10px;
    width: 60vh;
    height: 80vh;
    align-items: center;
    justify-content: space-around;
}

.display {
    background-color: black;
    color: white;
    font-size: 3em;
    font-weight: 500;
    margin: 10px;
    width: 70%;
    height: 2ch;
    font-family: 'Segment7Standard', monospace;
    text-align: right;
    padding: .5ch;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 2ch;
}

.row {
    display: flex;
    justify-content: space-around;
    flex: 1 1 0;
    gap: 2ch
}

button {
    appearance: none;
    border: none;
    background-color: rgb(163, 209, 255);
    font-weight: 900;
    font-size: 48px;
    padding: .5px;
    border: 1px solid rgb(7, 13, 58);
    box-shadow: 1px 1px black;
    transition: 0.1s;
    border-radius: 2px;
    min-width: 2ch;
    flex-grow: 1;
}

button:active {
    box-shadow: none;
    scale: 0.98;
}

.double {
    flex-grow: 2;
}